.draggable {
    width: 150px;
    background: rgb(110, 110, 158);
    border-radius: 5px;
    margin: 5px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px;
}

.description {
  width: 150px;
}

.port-scrim {
  fill: transparent;
}

.port-outer {
  fill: #777777;
}

.port-inner {
  fill: #202020;
}

.port-label {
  font-size: 12px;
  fill: #fff;
}

.dragProxy {
  width: 120px;
  height: 120px;
}

.port {
  position: absolute;
}

.node-container {
  display: flex;
  flex-direction: row;
}

.node-container-column {
  display: flex;
  flex-direction: column;
}

.connection-layer {
  position: absolute;
}

.connector-path {
  stroke: black;
  stroke-width: 3px;
  fill: none;
}

.connector-path-outline {
  stroke: beige;
  stroke-width: 4px;
  fill: none;
}

.port-container {
  width: 16px;
  height: 16px;
}

.node-row-component {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.node-row-ingredient {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.node-component {
  font-size: medium;
  text-align: left;
}
.node-ingredient {
  font-size: medium;
  text-align: right;
}
